.auth {
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 150px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2eb5f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

p {
    color: red;
    margin-top: 10px;
}

span {
    margin-top: 15px;
}

span a {
    text-decoration: none;
    color: #007bff;
}


.registerChange {
    margin-left: 50%;
    font-size: 12px;
}

.form-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

a{
    text-decoration: none;
}






