.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #181717;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.editbutton {
    display: flex;
    justify-content: center;
    border: none;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.deactivate-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.edit-button:hover,
.deactivate-button:hover {
    background-color: #0056b3;
}

.btnAdd {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 15%;
    border-radius: 5px;
}

.btnAdd:hover {
    background-color: #0056b3;
}

.addnew {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;

}

h1{
    text-align: center;
}