.container-header {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  
  .navbar-link {
    display: flex;
    justify-content: center; /* Căn giữa the nội dung theo chiều ngang */
  }
  
  .link {
    margin: 0 10px; /* Để tạo khoảng cách giữa các link trong navbar-link */
  }

  .Logout{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
  }
  

.link {
    text-decoration: none;
    color: inherit;
    color: #F48319;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    border: 1px solid white;
    padding: 1px 15px;

    &:hover {
        color: #f0a056;
        background-color: #F48319;
        border: 1px solid #f0a056;
    }
}

.links {
    display: flex;
    gap: 10px;
    align-items: center;

}

.logo img {
    width: 20%;
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #F48319;
    display: flex;
    justify-content: space-around;


}

footer img {
    height: 50px;

}

.user-profile {
    display: flex;
    align-items: center;

}

.user-profile img {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-profile span {
    white-space: nowrap;
}

span {
    margin-bottom: 14px;
}